body{
	background:url(99.jpg)center/cover fixed no-repeat;
}
.love{
	text-align: center;
	text-transform: uppercase;
	font-family: 'Ultra', sans-serif;
	text-shadow: 0 2px red, 0 3px #777;
	color: white;
	font-size: 40px;

}