body{
	background-color: skyblue;
}
h1{
	background-color: blue;
	
}
div p[id="para1"]{
	background-color: grey;
	background-size: 75% 50%;
}
div p[id="para2"]{
	background-color: grey;
	background-size: 75% 50%;
}